/**************************/
/***** INDEX ME HTML ******/
/**************************/
:root {
    --brown: #412411;
    --cream: #ffffed;
    /* This is an example */
    /* Create your own color variables */
    /* At most I recommend using 3 colors 
      that will be used accross your website */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Choose your font family here
        or you can add it later */
}

body {
    background-color: var(--cream);
    /* the bg color would be the same as your 
        quote section bg color */
    color: black;
}

h2,
p {
    padding: 15px;
}

.LandingPage {
    background-image: url(images/i.jpeg);
    min-height: 500px;
    width: 100%;
    opacity: .5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

header img {
    width: 50px;
    position: absolute;
    margin: 20px;
}



/***  NAVIGATION BAR ***/
.navLinks {
    list-style-type: none;
    display: flex;
}

ul.navLinks Li {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

ul.navLinks a {
    color: var(--brown);
    font-size: 25px;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 5%;
    padding-right: 5%;
}

/***  TITLE ***/
header h1 {
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    color: var(--brown);
}


/***  QUOTE SECTION ***/
.quoteSection {
    background-color: var(--brown);
    margin-top: 170px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
}


/***  CARDS ***/
.column img {
    height: 170px;
    width: 250px;
}

.row {
    background-color: var(--cream);
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.column {
    background-color: var(--brown);
    margin: 50px 0px;
    width: 290px;
}

.content_wrap {
    margin: 20px;
    background-color: var(--brown);
    color: var(--cream);
}

/***  LAST SECTION ***/

.last_content {
    background-color: var(--brown);
    margin-top: 40px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 60px;
}

/***  FOOTER ***/

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px 30px 0px;
    margin-top: 20px;
}






/**************************/
/***** ABOUT ME HTML ******/
/**************************/
/* Use CSS from previous CSS to 
      add and edit here */